.profile-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-icon {
  margin-right: 10px;
}

.user {
  text-transform: none;
  margin-left: 5px !important;
}

@media (max-width: 600px) {
  .user {
    display: none !important;
  }
}
